//colors
$blue:#00B5E2;
$pink:#F0899C;
$black:#0F172A;
$gray:#657790;
$white:#F8FAFC;
$rating:hsba(38, 96%, 96%, 1);
$notice:#fff;
$rating:#F59E0B;
$circle:#FFF3F6;


//font size
$small-body:14px;
$body:16px;
$big-body:18px;

$big-title:60px;
$title:48px;
$media-title:32px;
$small-title:24px;


//font family
$text:'Inter', sans-serif;

